.container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

@media (max-width: 1199.5px) {
  .container {
    grid-template-columns: 33.33% 33.33% 33.33%;
  }
}

@media (max-width: 1023.5px) {
  .container {
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 599.5px) {
  .container {
    grid-template-columns: 100%;
  }
}

.card {
  height: 200px;
  box-shadow: 20px 20px 50px 10px lightskyblue inset;
  border-radius: 50px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.title {
  font-weight: bold
}